extends layout

block content
	div(id='container')
	div(id='table')
		h2 Finnish Direct Foreign Aid
		div(class='year') 
			span(class='selected') 2006 
			span | 2007 | 2008 
		p The globe shows aid that was channeled directly to a recipient country. It does not include funds channeled through organizations such as the United Nations and the European Union.
		div(class='table') (Top ten recipients in table format here)
