extends layout

block content
	div(id='container')
	h2 Finnish Direct Foreign Aid
	div(class='year') 
		span(class='year selected', id='year2006') 2006
		span  | 
		span(class='year', id='year2007') 2007
		span  | 
		span(class='year', id='year2008') 2008
	p(id='info') The globe shows aid that was channeled directly to a recipient country. It does not include funds channeled through organizations such as the United Nations and the European Union.

	p(id='tableInfo') (Top ten recipients in table format here)
