doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		block content 
	
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(type='text/javascript', src='/javascripts/prefixfree.min.js')

	script(type='text/javascript', src='/globe/third-party/Three/ThreeWebGL.js')
	script(type='text/javascript', src='/globe/third-party/Three/ThreeExtras.js')
	script(type='text/javascript', src='/globe/third-party/Three/RequestAnimationFrame.js')
	script(type='text/javascript', src='/globe/third-party/Three/Detector.js')
	script(type='text/javascript', src='/globe/third-party/Tween.js')
	script(type='text/javascript', src='/globe/globe.js')
	script(type='text/javascript', src='/javascripts/application.js')
	
